API_ID=16657014 # get this value from my.telegram.org
API_HASH=c8f58938cd9683477a29fc06cdbe76f8 # get this value from my.telegram.org
BOT_TOKEN=5278187676:AAFc2hd2dwRlrCjJTH3K2ixKS6kQyCzOT7c # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://husnu:husnu2004@cluster0.val7q.mongodb.net/myFirstDatabase?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001325407528 # get this value from in your log group 
MUSIC_BOT_NAME=yukki # your music bot name 
STRING_SESSION=pyrogram_string_session # get this value from @yukkistringbot
